@model BootcampCapstone.Models.AccountModel.LostPasswordModel

@{
    ViewBag.Title = "LostPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.Error
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <fieldset class="form-signin">
            <h2 class="form-signin-heading">Enter Username</h2>
            <dl>
                <dt>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level", @placeholder = "Email Address"})
                    @Html.ValidationMessageFor(m => m.UserName)
                </dt>
            </dl>
            <input type="submit" value="Send Password Recovery Email" class="btn btn-large btn-primary" />
            <div>
                <br />
                @Html.ActionLink("Log In Page", "Index")
            </div> 
        </fieldset>
    </div> <!-- /container -->
}
